body{
    font-family: 'Nunito', sans-serif;
}
.heading{
    margin: 0px;
    width: 100%;
    font-size: 24px;
    color: white; 
    font-weight: bold;
}
.note{
    font-size: 14px;
    color: black;
    font-weight: 100;
}
.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}